root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true

[*.{js,mjs,cjs,json,html,css}]
indent_style = space
indent_size = 2

[*.{py,ps1}]
indent_style = space
indent_size = 4
